<div class="projects-wrapper">
    {% for game in site.data.games %}
    <div class="project neumorphism-card" data-aos="zoom-in-down">
        <div class="name-link-wrapper">
            <h3>{{game.name}}</h3>
        </div>
        <p class="project-desc">{{game.descr}}</p>
        {% if game.demo %}
        <a class="highlight-link" href="{{game.demo}}" target="_blank" rel="noreferrer">
            Play Game
        </a>
        {% endif %}
        {% if game.tags %}
        <div class="tag-wrapper">
            {% for tag in game.tags %}
            <span class="tag neumorphism-card">{{tag.tag}}</span>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>